body{
    background-color: #22202b !important;
    color: #e6e4e4 !important;
    font-family: cursive !important;
}

.card-header, .card-body{
    color: #181818 !important;
}

.post-input{
    height: 6rem !important;
}